@use '~/assets/styles/core/variables';
@use '~/assets/styles/mixins/font-face' as *;

@function _font-path($font-file-name, $font-context: variables.$fonts-directory) {
  @return '#{$font-context}/#{$font-file-name}';
}

// variable font families

@include font-face('Recursive Sans var', 300 1000, _font-path('Recursive.var'), $file-formats: ('woff2-variations')) {
  font-variation-settings: 'MONO' 0, 'CRSV' 0.5;
}

@include font-face('Recursive Mono var', 300 1000, _font-path('Recursive.var'), $file-formats: ('woff2-variations')) {
  font-variation-settings: 'MONO' 1, 'CRSV' 0.5;
}

@include font-face('Space Grotesk var', 100 900, _font-path('SpaceGrotesk.var'),
  $file-formats: ('woff2 supports variations(gvar)', 'woff2-variations', 'woff2')) {
  font-named-instance: 'Regular';
}

// static font families

@include font-face('Recursive Sans', 350, _font-path('RecursiveSans-Light'));
@include font-face('Recursive Sans', 350, _font-path('RecursiveSans-LightItalic'), italic);
@include font-face('Recursive Sans', 400, _font-path('RecursiveSans-Regular'));
@include font-face('Recursive Sans', 400, _font-path('RecursiveSans-Italic'), italic);
@include font-face('Recursive Sans', 600, _font-path('RecursiveSans-SemiBold'));
@include font-face('Recursive Sans', 600, _font-path('RecursiveSans-SemiBoldItalic'), italic);
@include font-face('Recursive Sans', 700, _font-path('RecursiveSans-Bold'));
@include font-face('Recursive Sans', 700, _font-path('RecursiveSans-BoldItalic'), italic);

@include font-face('Space Grotesk', 600, _font-path('SpaceGrotesk-Medium'));
@include font-face('Space Grotesk', 700, _font-path('SpaceGrotesk-Bold'));

@include font-face('Recursive Mono', 350, _font-path('RecursiveMono-Light'));
@include font-face('Recursive Mono', 400, _font-path('RecursiveMono-Regular'));
@include font-face('Recursive Mono', 600, _font-path('RecursiveMono-SemiBold'));
@include font-face('Recursive Mono', 700, _font-path('RecursiveMono-Bold'));
